table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ddd;
    padding: 6px;
}
th {
    background-color: #93ff91;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.node:before {
    content: url("images/node.jpg");
}
.doc:before {
    content: url("images/doc.jpg");
}
tr:nth-child(even) {
    background-color: #ffffc6;
}

tr:hover {
    background-color: #ddd;
}